body {
  --icon-color: mediumturquoise;
  --bg-color: white;
  --txt-color: black;
  --btn-txt-color: var(--bg-color);
  --transition-delay: 1s;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background: var(--bg-color);
  color: var(--txt-color);
  transition: var(--transition-delay);
  overflow: hidden;
}

body.dark {
  --icon-color: coral; 
  --bg-color: #252525;
  --txt-color: white;
}

h1 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.toggle-btn {
  background: var(--icon-color);
  color: var(--btn-txt-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: .5em 1em;
  outline: none;
  transition: var(--transition-delay);
  transition: scale(1);
}

.toggle-btn:hover,
.toggle-btn:focus {
  transform: scale(1.1)
}

.icon-btn {
  margin-right: .5em;
}

.themes-container {
  --rotation: 0;

  position: absolute;
  top: 0;
  height: 200vmin;
  pointer-events: none;
  transform: rotate(calc(var(--rotation) * 1deg));
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform var(--transition-delay);
}


.icon-sun,
.icon-moon{
  position: absolute;
  transition: opacity, fill, var(--transition-delay);
  width: 50px;
  height: 50px;
  fill: var(--icon-color);
}

.icon-sun {
  top: 5%;
  opacity: 1;
}

.dark .icon-sun {
  opacity: 0;
}

.icon-moon {
  bottom: 5%;
  opacity: 0;
  transform: rotate(180deg);
}

.dark .icon-moon {
  opacity: 1;
}
